.btnCon{
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-background-color: #eee;
    -fx-border-style: solid inside;
    -fx-border-width: 1px;
    -fx-border-insets: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: #CCC;
}
.btn{
    -fx-font-size: 13px;
    -fx-pref-width: 180px;
    -fx-pref-height: 30px;
    -fx-background-color: #CCC;
    -fx-background-radius: 2px;
}
.btn:hover{
    -fx-background-color: #ADADAD;
}
.btn:pressed{
    -fx-background-color: #8F8F8F;
}

